# Laravel / PHP
/vendor
/node_modules
/public/storage
/public/build
/public/hot
/.phpunit.cache
/storage/*.key
/storage
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json

# Logs & Debug
npm-debug.log
yarn-error.log
phpunit.xml
*.log
*.cache

# IDE / Editor
/.idea
/.vscode
/.fleet

# OS / System files
.DS_Store
Thumbs.db

# Optional: if using npm / yarn build artifacts
/public/js
/public/css
/public/img

# Optional: ignore coverage reports
/coverage
kelola-dapur.code-workspace